.container{

  display: flex;
  align-items: center;

}
h1{
  color: green;
}

.menu1{
  flex: 1;
  border: 1px solid black; /* Sets a solid black border with a width of 1 pixel */
  padding: 10px; /* Adds some padding inside the border */
  margin-right: 20px;
}
.menu2{
  flex: 1;
  border: 1px solid black; /* Sets a solid black border with a width of 1 pixel */
  padding: 10px; /* Adds some padding inside the border */
  margin-right: 20px;
}
.menu3{
  flex: 1;
  border: 1px solid black; /* Sets a solid black border with a width of 1 pixel */
  padding: 10px; /* Adds some padding inside the border */
  margin-right: 20px;
}