.container{

  display: flex;
  align-items: center;

}
h1{
  color: green;
}

.menu1{
  flex: 1;
  border: 1px solid black; /* Sets a solid black border with a width of 1 pixel */
  padding: 10px; /* Adds some padding inside the border */
  margin-right: 20px;
  border-width: 5px;
}
.menu2{
  flex: 1;
  border: 1px solid black; /* Sets a solid black border with a width of 1 pixel */
  padding: 10px; /* Adds some padding inside the border */
  margin-right: 20px;
  border-width: 5px;
}
.menu3{
  flex: 1;
  border: 1px solid black; /* Sets a solid black border with a width of 1 pixel */
  padding: 10px; /* Adds some padding inside the border */
  margin-right: 20px;
  border-width: 5px;
}
.dish1{

  display: flex;
  align-items: center;
  justify-content: end;
  background-color: chocolate;
}
.dish2{

  display: flex;
  align-items: center;
  justify-content: end;
  background-color: chocolate;
}
.dish3{

  display: flex;
  align-items: center;
  justify-content: end;
  background-color: chocolate;
}